<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988853543636-gduf5kbmb7pnbjnq6pqaa2uj95l4mm5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988853543636-gduf5kbmb7pnbjnq6pqaa2uj95l4mm5h</string>
	<key>API_KEY</key>
	<string>AIzaSyB43OnoAoZpij_z6_Z7LWMBoIrB6hGRjGs</string>
	<key>GCM_SENDER_ID</key>
	<string>988853543636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lightheads.mlrcc.mlrcc</string>
	<key>PROJECT_ID</key>
	<string>mlrcc-3206a</string>
	<key>STORAGE_BUCKET</key>
	<string>mlrcc-3206a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988853543636:ios:58b5a61063a013d92dd141</string>
</dict>
</plist>